@font-face {
	font-family:Charter;
	src: url('/font/CharterITC.otf');
}

.main_title {
	font-family:Charter;
	width: 500px;
	height: 60px;
	font-size: 20px;
	position: relative;
	text-align: center;
	top:250px;
	left:-60%;
	/* border-bottom: 1px solid black; */
}
.r1 {
	background-color: #3c00ff;
	z-index:1;
}
.r2 {
	background-color: #2d4bff;
	z-index:2;
}
.r3 {
	background-color: #0474ff;
	z-index:3;
}
.r4 {
	background-color: #009bff;
	z-index:4;
}
.r5 {
	background-color: #57abff;
	z-index:5;
}
.r6 {
	background-color: #94c1ff;
	z-index:6;
}
.r1, .r2, .r3, .r4, .r5, .r6 {
	position:fixed;
	top:0;
	left:100%;
	width:1500px;
	height:1500px;
}
.title {
	width: 200px;
	height: 60px;
	position:fixed;
	color:white;
	font-size: 32px;
	margin: 250px -55px;
	transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
}
.block {
	width: 1500px; 
	height: 1500px;
	left:80px; 
	background-color: white; 
	position:relative; 
	z-index: 6;
	display:none;
}
.block2 {
	font-family:Charter;
	width: 75%;
	left:50px; 
	border-bottom: 1px solid black; 
	position:relative;
	font-size:20px;
}
.scroll-pane {
	width: 75%;
	height: 500px;
	overflow: auto;
	top:20px;
	left:50px;
	position:relative;
}